@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

body {
  margin: 0;
  width: 100vw; /* Set width to full viewport width */
  height: 100vh; /* Set height to full viewport height */
  background-color: #e6f7ff;
  background-image: linear-gradient(19deg, #e6f7ff 0%, #7474af 100%);
}
